.buyer__wrapper{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 8px;
    padding: 16px;
}

.buyer__container{
    margin: 16px 0;
}

.buyer__header{
    margin: 24px;
    text-align: center;
}

.buyer__header h1{
    font-size: 24px;
    line-height: 24px;
    color: rgb(245, 123, 9);
}

.buyer__form{
    margin-top: 48px;
}

.form__item{
    margin-bottom: 16px;
}

.form__label{
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.form__input{
    border: 2px solid rgb(1, 175, 10);
    display: flex;
    align-items: center;
    width: 100%;
}


.form__input input{
    width: 100%;
    border: none;
    outline: none;
    height: 38px;
    padding-left: 16px;
    font-size: 18px;
}

.form__input i{
    font-size: 18px;
    border-radius: 50%;
    background-color: rgb(6, 223, 6);
    color: #fff;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 4px;
}

.form__item.no-validate .form__input{
    border-color: rgb(202, 5, 5);
}

.form__item.no-validate .form__input i{
    background-color: red;
}

.form__message{
    font-size: 12px;
    color: rgb(202, 5, 5);
}

.buyer__btn{
    text-align: center;
}